<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>

    <h2>{{ course }}</h2>

    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="{% url 'product' product.id %}">{{ product.name }}</a></td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.stock }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>